<%
var post = page;
%>

  <article class="post-container post-container--single">

    <header class="post-header">
    
      <% if (type == 'post') { %>
      <div class="post-meta">
        <time datetime="<%= date(post.date, config.date_format) %>" class="post-meta__date date"><%= date(post.date, config.date_format) %></time> &#8226; 

        <span class="post-meta__tags tags">

            <font class="categories">
              <%- list_categories(post.categories, {
                show_count: false,
                class: 'categories',
                style: 'none'
              }) %>
            </font>
            <% if (post.tags && post.tags.length > 0){ %>
              <font class="tags">
                <%- list_tags(post.tags, {
                  show_count: false,
                  style: 'none',
                  class: 'tags'
                }) %>
              </font>
            <% } %>

        </span>
      </div>
      <% } %>

      <h1 class="post-title"><%= post.title %></h1>
    </header>

    <section class="post">
      <%- post.content %>
    </section>

    <%- partial('comments') %>
  </article>

